.bannerContainer {
    width: 100%;
    display: flex;
    position: relative;
    height: 64rem;

}

.bannerContentContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 6.4rem 8rem;
    gap: 3.2rem;
    width: 40%;
}

.bannerButtonGroup {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    width: 100%;
}

.bannerButtonPrimary {
    background-color: var(--neutral50);
    color: var(--neutral800);
    padding: 1.6rem 3.2rem;
    border-radius: 3.2rem;
    font-size: 1.6rem;
    font-weight: 500;

}

.bannerButtonPrimary:hover {
    background-color: var(--neutral100);
}

.bannerButtonSecondary {
    background-color: var(--primary600);
    color: white;
    padding: 1.6rem 3.2rem;
    border-radius: 3.2rem;
    font-size: 1.6rem;
    font-weight: 500;


}

.bannerButtonSecondary:hover {
    background-color: var(--primary700);
}


.bannerTitle {
    font-size: 6.4rem;
    font-weight: 500;
    color: white;
    text-shadow: black 0 0 11px;
    margin: 0;

    @media (prefers-color-scheme: dark) {
        color: black;
        text-shadow: white 0 0 11px;
    }
}


.bannerImageContainer {
    position: relative;
    width: 100%;
    flex: 1;

}