.profile-menu {
    &-container {
        background-color: white;
        border-radius: 3.2rem;
        box-shadow:
            0 4px 6px -1px rgb(0 0 0 / 0.1),
            0 2px 4px -2px rgb(0 0 0 / 0.1);
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        overflow: hidden;
        padding: 3.2rem;
        position: fixed;
        right: 8rem;
        top: 9.6rem;
        width: 32rem;
    }
    &-title {
        font-size: 1.8rem;
        font-weight: 600;
    }
    &-sign-out-button {
        align-items: center;
        display: flex;
        background-color: whitesmoke;
        border-radius: 3.2rem;
        font-size: 1.2rem;
        font-weight: 500;
        justify-content: center;
        padding: 1.6rem;
        width: 100%;
    }
    &-link {
        &-container {
            align-items: center;
            color: inherit;
            display: flex;
            gap: 1.6rem;
            text-decoration: none;
            width: 100%;
        }

        &-icon {
            &-container {
                align-items: center;
                border-radius: 100%;
                background-color: whitesmoke;
                display: flex;
                font-size: 1.6rem;
                height: 4rem;
                justify-content: center;
                width: 4rem;
            }
        }

        &-text {
            color: inherit;
            font-size: 1.4rem;
            font-weight: 500;
            text-decoration: none;
        }
        &-active {
            color: #00a95c;
            font-size: 1.4rem;
            font-weight: 500;
            text-decoration: none;
        }
        &-menu {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 3.2rem;
            width: 100%;
        }
    }
}
