.menuContainer {
    background-color: white;
    border-radius: 1.6rem;
    box-shadow:
        0 4px 6px -1px rgb(0 0 0 / 10%),
        0 2px 4px -2px rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    overflow: hidden;
    padding: 2.4rem;
    position: fixed;
    right: 8rem;
    top: 9.6rem;
    width: 32rem;

    @media (prefers-color-scheme: dark) {
        background-color: var(--slate-900);
        color: var(--slate-300);
    }
}

.menuTitle {
    font-size: 2.4rem;
    font-weight: 600;
    margin: 0;
}

.signOutButton {
    align-items: center;
    display: flex;
    background-color: whitesmoke;
    border-radius: 1.6rem;
    font-size: 1.4rem;
    font-weight: 500;
    gap: 0.8rem;
    justify-content: center;
    padding: 1.6rem;
    width: 100%;

    @media (prefers-color-scheme: dark) {
        background-color: var(--slate-800);
        color: var(--slate-300);
    }
}

.menuLinkContainer {
    align-items: center;
    color: inherit;
    display: flex;
    gap: 1.6rem;
    border-radius: 0.8rem;
    text-decoration: none;
    width: 100%;
}

.menuLinkIconContainer {
    align-items: center;
    border-radius: 100%;
    background-color: var(--neutral50);
    display: flex;
    font-size: 2rem;
    height: 4rem;
    justify-content: center;
    width: 4rem;
}

.menuLinkText {
    color: inherit;
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none;
    margin: 0;
}

.menuLinkActive {
    color: #00a95c;
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    margin: 0;
}

.menuLinksContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    width: 100%;
}