// #13dc7b
$primary50: '#e5fff3';
$primary100: '#b3ffdc';
$primary200: '#80ffc5';
$primary300: '#4dffae';
$primary400: '#1aff96';
$primary500: '#00e67d';
$primary600: '#00b361';
$primary700: '#008045';
$primary800: '#004d2a';
$primary900: '#001a0e';
