/* Padding and margin variables (1rem => 10px) */
$spacer-xs: 0.4rem;
$spacer-sm: 0.8rem;
$spacer-md1: 1.6rem;
$spacer-md2: 2.4rem;
$spacer-md3: 3.2rem;
$spacer-lg1: 4rem;
$spacer-lg2: 4.8rem;
$spacer-lg3: 5.6rem;
$spacer-xl1: 6.4rem;
$spacer-xl2: 8rem;
