.cardGrid {
    display: grid;
    gap: 4.8rem;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;

    @media (width >=768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (width >=1024px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (width >=1280px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (width >=1536px) {
        grid-template-columns: repeat(5, 1fr);
    }
}

.cardContainer {
    background-color: white;
    border-radius: 16px;
    box-shadow: var(--shadow-md);
    color: inherit;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-decoration: none;
    min-width: 400px;
    transition: box-shadow 0.5s;

    @media (prefers-color-scheme: dark) {
        background-color: var(--neutral900);
    }
}

.cardContainer:hover {
    box-shadow: var(--shadow-2xl);
}

.cardButton {
    background-color: var(--primary600);
    border-radius: 3.2rem;
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1.6rem;
    width: 100%;
}

.cardImage {
    height: 100%;
    position: relative;
    width: 100%;
}

.cardImageContainer {
    aspect-ratio: 4/3;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.cardProgressContainer {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;
}

.cardProgressLine {
    background-color: var(--primary600);
    height: 100%;
    position: absolute;
}

.cardProgressLineContainer {
    background-color: var(--primary50);
    border-radius: 4px;
    height: 4px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.cardProgressText {
    color: var(--neutral900);
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0;

    @media (prefers-color-scheme: dark) {
        color: var(--neutral300);
    }
}

.cardTitle {
    color: var(--neutral900);
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0;

    @media (prefers-color-scheme: dark) {
        color: var(--neutral300);
    }
}

/* .cardTitleContainer {} */

.cardContentContainer {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    padding: 1.6rem;
    width: 100%;
    background-color: white;
}
