.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    background-color: whitesmoke;
    flex: 1;
}

.pageSectionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.6rem 0;
    width: 100%;
    gap: 1.6rem;
}