.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.bannerContainer {
    width: 100%;
    display: flex;
    padding: 3.2rem 8rem;
    gap: 4.8rem;
}

.bannerContentContainer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    flex: 1;
}

.bannerButtonGroup {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    width: 100%;
}

.bannerButtonPrimary {
    background-color: #eff0f3;
    background-color: var(--neutral800);
    color: white;
    padding: 1.6rem;
    border-radius: 3.2rem;
    font-size: 1.4rem;
    font-weight: 600;
    min-width: 12rem;


}

.bannerButtonPrimary:hover {
    background-color: var(--neutral900);
}

.bannerButtonSecondary {
    background-color: var(--primary600);
    color: white;
    padding: 1.6rem;
    border-radius: 3.2rem;
    font-size: 1.4rem;
    font-weight: 600;
    min-width: 12rem;


}

.bannerButtonSecondary:hover {
    background-color: var(--primary700);
}


.bannerTitle {
    font-size: 5.6rem;
    font-weight: 500;
}


.bannerImageContainer {
    position: relative;
    width: 100%;
    height: 40rem;
    flex: 1;
    border-radius: 3.2rem;
    overflow: hidden;
}