.footerContainer {
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 3.2rem;
    gap: 3.2rem;

    @media (width >=1024px) {
        flex-direction: row;
        gap: 3.2rem;
        padding: 2.4rem 3.2rem;
    }

    @media (prefers-color-scheme: dark) {
        background-color: var(--slate-900);
        color: var(--slate-300);
    }
}

.footerCopyrightText {
    color: var(--neutral-700);
    font-size: 1.4rem;
    font-weight: 400;

    @media (prefers-color-scheme: dark) {
        color: var(--neutral50);
    }
}

.footerLinkActive {
    color: #00a95c;
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
}

.footerLinkMenu {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.2rem;

    @media (width >=1024px) {
        flex-direction: row;

    }
}

.footerLinkText {
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;

    @media (prefers-color-scheme: dark) {
        color: var(--slate-300);
    }
}

.footerLinkText:hover {
    text-decoration: underline;
}