html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

:root {
    --blue: #1e90ff;
    --white: #fff;

    /* Padding and margin variables */
    --spacer-xs: 0.4rem;
    --spacer-sm: 0.8rem;
    --spacer-md1: 1.6rem;
    --spacer-md2: 2.4rem;
    --spacer-md3: 3.2rem;
    --spacer-lg1: 4rem;
    --spacer-lg2: 4.8rem;
    --spacer-lg3: 5.6rem;
    --spacer-xl1: 6.4rem;
    --spacer-xl2: 8rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    color: currentColor;
    text-decoration-skip-ink: auto;
}

blockquote,
q {
    quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: '';
    content: none;
}

/* Set core body defaults */
body {
    line-height: 1.5;
    min-height: 100vh;
}

button {
    border: none;
    font: inherit;
    line-height: 1.1;
}

button:hover {
    cursor: pointer;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* Prevent font size inflation */
html {
    font-size: 62.5%;
    text-size-adjust: none;
}

/* Make images easier to work with */
img,
picture {
    display: block;
    height: 20rem;
    max-width: 100%;
    object-fit: cover;
    position: relative;
    width: 20rem;
}

/* Inherit fonts for inputs and buttons */
input,
textarea,
select {
    font: inherit;
}

ol,
ul {
    list-style: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

.primary-button {
    background-color: royalblue;
    border-radius: 0.4rem;
    box-sizing: border-box;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 500;
    min-width: 24rem;
    padding: 1.6rem;
}

h1 {
    font-size: 6.8rem;
    line-height: 1.2;
}

.small-button {
    font-size: 1.2rem;
    font-weight: 500;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 0.8rem;
    background-color: #8460ff;
    color: white;
    gap: 0.8rem;
    padding: 0 1.6rem;
}

/* DEFAULT PRESSED HOVER DISABLED LOADING */

.medium-button {
    font-size: 1.4rem;
    font-weight: 500;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 0.8rem;
    background-color: #8460ff;
    color: white;
    gap: 0.8rem;
    padding: 0 1.6rem;
}

.large-button {
    font-size: 1.6rem;
    font-weight: 500;
    height: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 0.8rem;
    background-color: #8460ff;
    color: white;
    gap: 0.8rem;
    padding: 0 2.4rem;
}
