.formContainer {
    background-color: white;
    border: 1px solid whitesmoke;
    border-radius: 1.6rem;
    box-shadow:
        0 4px 6px -1px rgb(0 0 0 / 10%),
        0 2px 4px -2px rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    padding: 3.2rem;
    gap: 2.4rem;
    width: 48rem;
}

.formSeperatorContainer {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formSeperatorLine {
    height: 0.5px;
    background-color: gray;
    width: 100%;
}

.formSeperatorTextContainer {
    background-color: white;
    color: gray;
    position: absolute;
    padding: 0 1.6rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.formSocialButtonGroup {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.formSocialButtonIcon {
    font-size: 2.4rem;
}

.formSocialButtonFacebook {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    background-color: #316ff6;
    color: white;
    padding: 0.8rem;
    border-radius: 0.8rem;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    height: 4.8rem;
}

.formSocialButtonGithub {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    background-color: black;
    color: white;
    padding: 0.8rem;
    border-radius: 0.8rem;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    height: 4.8rem;
}

.formSocialButtonGoogle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    background-color: #3f82ed;
    color: white;
    padding: 0.8rem;
    border-radius: 0.8rem;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    height: 4.8rem;
}

.formLinkButton {
    min-width: 12rem;
    background-color: whitesmoke;
    text-decoration: none;
    padding: 1rem 0.8rem;
    border-radius: 1.6rem;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
}

.formLinkButtonGroup {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 0.8rem;
}

.formTitle {
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: center;
}

.formLabelContainer {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.formLabelText {
    font-size: 1.2rem;
    font-weight: 500;
}

.formButton {
    background-color: black;
    color: white;
    padding: 0.8rem;
    border-radius: 0.8rem;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    height: 4.8rem;
}

.formCheckbox {
    border: 1px solid lightgray;
    padding: 0.4rem;
    border-radius: 0.4rem;
    font-size: 2rem;
    height: 2rem;
    width: 2rem;
}

.formInput {
    border: 1px solid lightgray;
    padding: 0.8rem;
    border-radius: 0.8rem;
    font-size: 1.4rem;
    width: 100%;
    height: 4.8rem;
}

.formErrorText {
    color: red;
    font-size: 1.2rem;
    font-weight: 400;
}
