.menuContainer {
    background-color: white;
    border-radius: 1.6rem;
    box-shadow: var(--shadow-md);
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    overflow: hidden;
    padding: 3.2rem;
    width: 28rem;

    @media (prefers-color-scheme: dark) {
        background-color: var(--slate-900);
    }
}

.menuLinkActive {
    color: var(--green-600);
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
}

.menuLinksContainer {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.menuLinkText {
    color: inherit;
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: 400;
    margin: 0;
    transition: 0.2s ease-in-out;
}

.menuLinkText:hover {
    color: var(--primary600);
}

.menuTitle {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.8rem;
    margin: 0;
}