.bannerContainer {
    width: 100%;
    display: flex;
    position: relative;
    height: 56rem;
}

.bannerContentContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    margin: 6.4rem 8rem;
    width: 40%;
}

.bannerButtonGroup {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    width: 100%;
}

.bannerButtonPrimary {
    background-color: var(--slate-700);
    color: #f1f5f9;
    border-radius: 3.2rem;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 1.8rem 3.2rem;
    transition: 0.4s ease-in-out;
}

.bannerButtonPrimary:hover {
    background-color: var(--slate-800);
}

.bannerButtonSecondary {
    background-color: var(--green-700);
    color: white;
    border-radius: 3.2rem;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 1.8rem 3.2rem;
    transition: 0.4s ease-in-out;
}

.bannerButtonSecondary:hover {
    background-color: var(--green-800);
}

.bannerTitle {
    color: white;
    font-size: 5.6rem;
    font-weight: 500;
    text-shadow: black 0 0 11px;
    margin: 0;

    color: #0f172a;
    text-shadow: white 0 0 11px;



    @media (prefers-color-scheme: dark) {
        color: black;
        text-shadow: white 0 0 11px;
    }
}

.bannerImageContainer {
    position: relative;
    width: 100%;
    flex: 1;
}